#home {

  .products {
    padding: 80px 0;
    min-height: 600px;
    background: @bg-body;

    .block-cards {
      width: 900px;
      margin: 0 auto;

      .image-thumb {
        height: 240px;

        img {
          .translate(-50%, -30%);
        }
      }
    }

    .arrow-slider {
      top: 40%;

      &.arrow-slider-left {
        left: -60px;
      }
      &.arrow-slider-right {
        right: -60px;
      }
    }
  }

  @media screen and (max-width: @screen-desktop) {
    .products {
      .block-cards {
        width: 90%;
      }
    }
  }

  @media screen and (max-width: @screen-tablet) {
    .products {
      .block-cards {
        width: 80%;

        .image-thumb {
          img {
            .translate(-50%, -50%);
          }
        }

        .arrow-slider {
          &.arrow-slider-left {
            left: 15px;
          }

          &.arrow-slider-right {
            right: 15px;
          }
        }
      }
    }
  }

}